#wrapper {
  padding-top: 176px;
  .center {
    width: 900px;
    .bg-maroon {
      background: #8a4742;
    }
    .bg-green {
      background: #555c53;
    }
    .detail-row {
      h1 {
        font-family: "Baloo 2", cursive;
        font-style: normal;
        font-weight: normal;
        font-size: 36px;
        line-height: 140%;
        /* or 50px */

        color: #894642;
      }
      .text-green {
        color:  #555c53;
      }
      .box {
        padding: 32px;
        padding-bottom: 20px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
        ol {
          padding-left: 20px;
        }
        li,
        p {
          font-family: Inter;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 150%;
          /* or 28px */

          color: #ffffff;
          margin-bottom: 12px;
        }
      }
      .cover {
        margin-top: 50px;
        width: 280px;
        margin-left: 32px;
      }
    }
  }
  .btn-border {
    padding: 10px 24px !important;
  }
}

// Tablet
@media (max-width: 768.98px) {
  #wrapper {
    .center {
      width: 85vw;
      .detail-row {
        width: 100%;
        .box {
          ol {
            padding-left: 20px;
          }
          li,
          p {
            font-size: 14px;
          }
        }
        .cover {
          width: 220px;
          margin-left: 32px;
        }
      }
    }
  }
}

// Phone
@media (max-width: 575.98px) {
  #wrapper {
    padding-top: 80px;
    .center {
      padding-left: 12px;
      padding-right: 12px;  
      .detail-row {
        width: 100%;
        flex-direction: column-reverse;
        align-items: center !important;
        .box {
          ol {
            padding-left: 20px;
          }
          li,
          p {
            font-size: 14px;
          }
        }
        .cover {
          width: 75vw;
          margin: 0;
          margin-bottom: 24px;
        }
      }
    }
  }
}
