#hero {
  margin-top: 52px;
  background-image: url("../images/hero-bg.svg");
  background-size: auto 600px;
  background-position: top right;
  background-repeat: no-repeat;
  padding: 0 88px;
  padding-top: 52px;
  padding-bottom: 40px;
  height: 600px;
  .vector-dot {
    height: 56px;
  }
  h1 {
    margin-top: 16px;
    font-family: Manrope;
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 140%;
    /* or 163% */

    font-feature-settings: "liga" off;

    /* Text / Gray 900 */

    color: #18191f;
    span {
      color: #8a4742;
    }
  }
  .date {
    margin-top: 16px;
    font-family: Inter;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #8a4742;
    margin-bottom: 12px;
  }
  .timer {
    h2 {
      font-family: Inter;
      font-style: normal;
      font-weight: 800;
      font-size: 32px;
      line-height: 110%;
      /* or 67px */

      text-align: center;

      color: #bd8e58;
      margin-bottom: 0;
    }
    p {
      font-family: DM Sans;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 140%;
      /* or 22px */
      text-align: center;
      color: #bd8e58;
      margin-bottom: 12px;
    }
  }
  .timer-info {
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 140%;
    /* or 22px */

    /* Brand / Purple */

    color: #8a4742;
  }
  .account-info {
    font-family: Manrope;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 140%;
    /* identical to box height, or 133% */

    font-feature-settings: "liga" off;

    color: #18191f;
  }
  .btn {
    font-size: 16px;
  }
  h1#thanks {
    margin-top: 44px;
    font-family: Manrope;
    font-style: normal;
    font-weight: 800;
    font-size: 52px;
    line-height: 140%;
    /* or 136% */

    font-feature-settings: "liga" off;

    /* maroon */

    color: #8a4742;
  }
}

#introduction {
  height: fit-content;
  background-color: #fefbe1;
  padding: 120px 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  .card-box {
    width: 630px;
    padding: 48px;
    h2 {
      font-family: Manrope;
      font-style: normal;
      font-weight: 800;
      font-size: 32px;
      line-height: 140%;
      /* identical to box height, or 133% */

      font-feature-settings: "liga" off;

      color: #8a4742;
      margin-bottom: 20px;
    }
    p {
      font-family: Manrope;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 140%;
      /* or 150% */

      font-feature-settings: "liga" off;

      /* Text / Gray 900 */

      color: #18191f;
    }
  }
  .vote-ilustration {
    width: 350px;
  }
}

#tutorial {
  padding-top: 80px;
  padding-bottom: 100px;
  h1 {
    font-family: Manrope;
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 140%;
    /* identical to box height, or 133% */

    font-feature-settings: "liga" off;

    color: #8a4742;
    margin-bottom: 60px;
  }
  .video {
    img {
      &:nth-child(1) {
        margin-right: 100px;
        margin-top: 100px;
        align-self: flex-start;
        width: 52px;
      }
      &:nth-child(3) {
        margin-left: 100px;
        margin-bottom: 100px;
        align-self: flex-end;
        width: 52px;
      }
    }
    iframe {
      width: 760px;
      height: 456px;
    }
  }
  .steps {
    margin-top: 160px;
    p {
      font-family: Manrope;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 150%;
      /* identical to box height, or 108% */

      font-feature-settings: "liga" off;

      /* maroon */

      color: #8a4742;
      margin-top: 16px;
      width: 200px;
    }
  }
}

// Tablet
@media (max-width: 768.98px) {
  #hero {
    background-image: url('../images/hero-bg-t.png');
    background-size: contain;
  }
  #introduction {
    flex-direction: column-reverse;
    .card-box {
      margin-top: 44px;
      width: 60vw;
    }
  }
  #tutorial {
    .video {
      iframe {
        width: 80vw;
        height: 45vw;
      }
    }
  }
}

// Phone
@media (max-width: 575.98px) {
  #hero {
    padding: 32px;
    height: fit-content;
    background-image: url('../images/hero-bg-m.png');
    background-size: 100vw auto;
    background-position: bottom;
    padding-top: 8px;
    padding-bottom: 300px;
    .vector-dot {
      display: none;
    }
  }
  #introduction {
    .vote-ilustration {
      width: 80vw;
    }
    .card-box {
      margin-top: 40px !important;
      width: 85vw;
    }
  }
  #tutorial {
    .steps {
      margin-top: 40px;
      .dashline {
        display: none !important;
      }
      .steps-box {
        margin-top: 12px;
        flex-direction: row !important;
        p {
          margin-left: 24px !important;
        }
      }
    }  
  }
}
