{% extends 'base.html' %} {% load static %} {% block meta %} {% endblock meta %}
{% block css %}
<link rel="stylesheet" href="{% static 'home/css/hasil.css' %}" />
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.css"
/>
{% endblock css %} {% block title %} Profil Calon 
{% endblock title %} {% block content %} {% include 'navbar.html' %}
<div id="hasil" class="d-flex flex-column align-items-center">
  <h1 id="title" class="text-center">SELAMAT DATANG <span>Gani</span> DI</h1>
  <h2 id="subtitle" class="text-center">
    PENGUMUMAN HASIL PEMUNGUTAN SUARA PEMIRA IKM FF UI 2020
  </h2>
  <div class="box box-bem d-flex flex-column align-items-center">
    <h3 class="hasil text-center">HASIL PERHITUNGAN SUARA CALON KETUA BEM FF UI</h3>
    <h3 class="hasil text-center d-none">HASIL PERHITUNGAN SUARA CALON ANGGOTA INDEPENDEN BPM FF UI</h3>
    <canvas
      data-result="{{ hasilBem }}"
      id="myChartBEM"
      width="600px"
      height="360px"
    ></canvas>
    <canvas
      data-result="{{ hasilBpm }}"
      id="myChartBPM"
      width="600px"
      height="360px"
      class="d-none"
    ></canvas>
    <p id="dpt-bem" class="dpt"></p>
    <p id='dpt-bpm' class="dpt d-none"></p>
    <button class="btn btn-fill change-result">
      Lihat Hasil untuk AI BPM
    </button>
    <button class="btn btn-fill d-none change-result">
      Lihat Hasil untuk Ketua BEM
    </button>
  </div>
</div>
<footer id="social-only">
  {% include 'footer_social_only.html' %} {% include 'footer_mobile.html' %}
</footer>
{% endblock content %} {% block js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.bundle.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@0.7.0"></script>
<script src="{% static 'home/js/hasil.js' %}"></script>
{% endblock js %}
