{% load static %}

<div class="footer-m">
  <img id="footer-img-m" src="{% static 'home/images/footer-m.svg' %}" alt="">
  <div class="d-flex pemira align-items-center">
    <img src="{% static 'home/images/logo.svg' %}" alt="">
    <p class="mb-0">Pemira Fakultas Farmasi <br>Universitas Indonesia</p>
  </div>
  <div class="social-m d-flex flex-column align-items-center">
    <h4>Media sosial kami:</h4>
    <div class="d-flex flex-column justify-content-center social-box-m">
      <a
        href="https://line.me/R/ti/p/ftx5012t"
        class="d-flex align-items-center"
      >
        <img src="{% static 'home/images/line.svg' %}" alt="" />
        <p class="mb-0">@ftx5012t</p>
      </a>
      <a
        href="https://www.instagram.com/pemiraikmffui/"
        class="d-flex align-items-center"
      >
        <img src="{% static 'home/images/ig.svg' %}" alt="" />
        <p class="mb-0">@pemiraikmffui</p> </a
      ><a
        href="http://twitter.com/pemiraikmffui"
        class="d-flex align-items-center"
      >
        <img src="{% static 'home/images/twitter.svg' %}" alt="" />
        <p class="mb-0">@pemiraikmffui</p>
      </a>
    </div>
  </div>
</div>
