{% load static %}

<div class="d-flex flex-column align-items-center" style="background-color: transparent;">
  <img
    class="footer-img footer-d"
    src="{% static 'home/images/footer.svg' %}"
    alt=""
    srcset=""
  />
  <div class="social d-flex flex-column align-items-center footer-d">
    <h4>Media sosial kami</h4>
    <div class="d-flex justify-content-center social-box">
      <a
        href="https://line.me/R/ti/p/ftx5012t"
        class="d-flex flex-column align-items-center mx-md-1"
      >
        <img src="{% static 'home/images/line.svg' %}" alt="" />
        <p>@ftx5012t</p>
      </a>
      <a
        href="https://www.instagram.com/pemiraikmffui/"
        class="d-flex flex-column align-items-center mx-md-1"
      >
        <img src="{% static 'home/images/ig.svg' %}" alt="" />
        <p>@pemiraikmffui</p> </a
      ><a
        href="http://twitter.com/pemiraikmffui"
        class="d-flex flex-column align-items-center mx-md-1"
      >
        <img src="{% static 'home/images/twitter.svg' %}" alt="" />
        <p>@pemiraikmffui</p>
      </a>
    </div>
  </div>
</div>